.nav {
  position: absolute;
  width: 1440px;
  height: 74px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 140px;
  top: 27px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.search {
  position: absolute;
  width: 125px;
  height: 17px;
  left: 440px;
  top: calc(50% - 17px / 2 + 0.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #0070fb;
}

.fav {
  position: absolute;
  width: 164px;
  height: 17px;
  left: 656px;
  top: calc(50% - 17px / 2 + 0.5px);

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #6b8397;
}

.searchbar {
  position: absolute;
  width: 1160px;
  height: 60px;
  left: 140px;
  top: 108px;

  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.city {
  width: 100px;
  height: 15px;
  left: 248px;
  top: calc(50% - 15px / 2 - 0.5px);

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #49627e;
}

.vacancy {
  width: 460px;
  height: 133px;
  left: 140px;
  top: 209px;

  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.companyName {
  width: 239px;
  height: 12px;
  left: 103px;
  top: 20px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #9aaab5;
}

.container {
  position: absolute;
  width: 660px;
  height: 587px;
  left: 640px;
  top: 208px;

  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
